.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 1400px;
  background-color: #fcfdfe;
  font-family: "Golos", sans-serif, Arial, Helvetica;
}

.powerByEthereum {
  font-size: 1.171875rem;
  color: #141414;
}

.ethereumDescription {
  font-size: 0.78515625rem;
  color: #141414;
}

.firstWord {
  font-size: 0.9062rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #141414;
}

.subWord {
  font-size: 0.82rem;
  margin-bottom: 17px;
  color: #141414;
}

.subWord:hover {
  cursor: pointer;
  color: #0784c3;
  transition: all 500ms;
}

.ethSwitch {
  width: 40px;
  height: auto;
  border-radius: 10px;
  border: thin solid #e9ecef;
}

.ethSwitchContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.ethSwitchContainer:hover {
  cursor: pointer;
}

.gasFeeContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.ethPriceGasContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(108, 117, 125);
  position: relative;
}

.gasFeeIcon {
  width: 15px;
  height: auto;
}

.header {
  width: 100%;
  background-color: #fcfcfe;
}

.closeModalBtn {
  padding: 5px;
  position: absolute;
  top: 1px;
  right: 5px;
  border-radius: 10px;
  background-color: #f0f1f3;
  border: none;
}

.hide {
  display: none;
}

.show {
  display: block;
  color: rgb(108, 117, 125);
  padding: 20px;
  width: 40em;
  height: 13em;
  background-color: #f0f1f3;
  position: absolute;
  top: 50px;
  left: 45em;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding-top: 50px;
  border-radius: 15px;
}

.topHeader {
  display: flex;
  align-items: center;
  color: #bbbbbb;
  height: 3rem;
  font-size: 0.78515625rem;
  padding: 0 11.5rem;
  border-bottom: 1px solid #e9ecef;
  justify-content: space-between;
}

.navFontSize {
  font-size: 0.9062rem;
}

.selectedHome {
  color: #1f90c9;
  font-size: 14.4992px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.3rem;
  padding: 0 11.5rem;
  border-bottom: 1px solid #222222;
}

.logo {
  width: 9rem;
  height: auto;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  width: 44rem;
  letter-spacing: 0.01rem;
}

.menu > p {
  display: flex;
  align-items: center;
}

.menu > p:hover {
  color: #3778ad;
  cursor: pointer;
}

.signIn {
  justify-content: space-between;
  width: 4.5rem;
}

.profile {
  width: 1.1rem;
}

.arrow {
  display: flex;
  width: 1rem;
}

.searchContainer {
  width: 100%;
}

.adSection {
  display: flex;
  justify-content: center;

  width: 30%;
  height: 60%;
  margin-left: 5rem;
  align-items: center;
  border-radius: 1rem;
}

.adtext {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.adSection > section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 13rem;
  margin-left: 1rem;
  padding-left: 0.5rem;
}

.float {
  animation-name: Floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes Floating {
  from {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  to {
    transform: translate(0, -0px);
  }
}

.wizard {
  width: 8rem;
}

.searchSection > h3 {
  padding-bottom: 1rem;
  font-size: 1.3rem;
  letter-spacing: 0.02rem;
}

.boldText {
  font-weight: bold;
  margin-left: 5px;
}

.sponsorFirstText {
  margin-right: 5px;
  font-weight: bold;
}

.sponsorLink {
  margin-left: 5px;
  color: #6ab5db;
}

.searcParentContainer {
  display: flex;
  gap: 8em;
}
.sponsorImgRadius {
  margin-top: 10px;
  border-radius: 10px;
  width: 321px;
  height: 101px;
}

.input_section {
  display: flex;
  align-items: center;
  width: 50.5rem;
  height: 3rem;
  border: 1px solid #e9ecef;
  border-radius: 0.3rem;
  background-color: #ffffff;
  justify-content: space-between;
}

.mainTitle {
  font-size: 1.23046875rem;
  font-weight: 500;
  color: #ffff;
}
@media (max-width: 390px) {
  .latestTransactionMobile {
    display: block;
  }

  .errorModal {
    display: none;
  }

  .textIconMobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    font-size: 0.9062rem;
    color: #141414;
    font-family: "Roboto", sans-serif;
    font-size: 14.49px;
  }

  .twitterLogoMobile {
    width: 14px;
    height: auto;
    border-radius: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .mediumLogoMobile {
    width: 14px;
    height: auto;
    border-radius: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .facebookLogoMobile {
    width: 14px;
    height: auto;
    border-radius: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .redditLogoMobile {
    width: 20px;
    height: auto;
    border-radius: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .bottomDonation {
    font-family: "Roboto", sans-serif;
    font-size: 12.56px;
    color: #141414;
  }

  .companyCommunity {
    display: flex;
    align-items: center;
    gap: 55px;
    margin-bottom: 20px;
  }

  .communitySelf {
    align-self: baseline;
  }

  .ethLogoFooterSize {
    width: 23px !important;
  }

  .powerByEthereum {
    margin: 0 !important;
  }

  .footerSectionMobile {
    width: 330px;
  }

  .middleFooter {
    display: block !important;
    width: 330px !important;
  }

  .ethLogoFooter {
    font-size: 18.75px !important;
  }

  .parentFooter {
    display: none !important;
  }

  .parentFooterMobile {
    width: 330px !important;
    margin: 0 !important;
    margin-top: 15px !important;
    margin-left: 15px !important;
    font-family: "Roboto", sans-serif !important;
  }

  .worldMap {
    display: none !important;
  }

  .latestTransactionColor {
    margin: 0 !important;
  }

  .freeRecipient {
    margin-bottom: 0 !important;
  }

  .timeFontSize {
    margin: 0 !important;
  }

  .latestTransactionDesktop {
    display: none !important;
  }

  .hashNumberContainer {
    font-size: 14.49px;
    display: flex;
    margin-bottom: 0 !important;
    gap: 3px;
  }

  .transactionOne {
    padding: 10px !important;
  }

  .latestBlockReward {
    display: flex !important;
    gap: 5px !important;
    margin-bottom: 0 !important;
  }

  .txNumber {
    color: #141414;
    display: flex;
    gap: 3px;
  }

  .greenColor {
    background-color: green !important;
  }

  .latestTransactionsMobile {
    margin-top: 15px !important;
    font-family: "Roboto", sans-serif;
  }

  .hashNumber {
    color: #40a0d1 !important;
  }

  .latestResults_body_title {
    width: 330px !important;
  }

  .latestBlockFontSize {
    font-size: 15px !important;
    color: #212529 !important;
    font-weight: bold !important;
    font-family: "Roboto", sans-serif !important;
  }
  .latestTransactionFontSize {
    font-size: 15px !important;
    color: #212529 !important;
    font-weight: bold !important;
    font-family: "Roboto", sans-serif !important;
  }

  .latestTransactionFontSize {
    font-size: 15px !important;
    color: #212529;
  }

  .mobileBlocks {
    justify-content: start !important;
    padding: 10px;
    /* background-color: red; */
    border-bottom: 1px solid #e9ecef;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
  }

  .latestResults_header {
    display: block !important;
    height: 31rem !important;
    margin-left: 15px !important;
    width: 330px !important;
    margin-bottom: 10px !important;
  }

  .blockSeconds {
    display: flex;
    color: #212529;
    align-items: center;
    gap: 5px;
    font-size: 14px;
  }

  .timeSize {
    font-size: 12px;
    color: rgb(108, 117, 125);
    margin-bottom: 0;
  }

  .recipientType {
    color: rgb(6, 106, 156);
    font-size: 14px;
  }

  .amountTxns {
    color: rgb(6, 106, 156);
    font-size: 14px;
  }

  .feeRecipient {
    margin-bottom: 0;
    color: #212529;
    font-size: 14px;
  }

  .blockHash {
    margin-bottom: 0;
  }

  .latestBlockTransactionsMobile {
    width: 330px !important;
    /* padding-top: 0 !important ;
    padding-left: 16px !important;
    padding-right: 16px !important; */

    margin-left: 15px;
  }

  .latestResults_body {
    display: none !important;
  }

  .latestBlockTransactionsMobile > section {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    /* padding: 1rem 0; */
    border: 1px solid #e9ecef;
    border-radius: 1rem;
    box-shadow: 0rem 0 1.5rem #ffffff09;
  }

  .ethFlex {
    gap: 5px !important;
    margin-bottom: 20px;
    border-bottom: thin solid #e9ecef;
    margin-left: 5px;
    padding-bottom: 15px;
  }

  .marketCapFlex {
    gap: 5px !important;
    /* margin-bottom: 20px; */
    border-bottom: thin solid #e9ecef;
    margin-left: 5px;
    padding-bottom: 15px;
  }

  .middleNav {
    gap: 20px !important;
    /* border-bottom: thin solid #e9ecef; */

    /* padding-bottom: 15px; */
  }

  .flexSeparatorOne {
    gap: 10px !important;
  }

  .flexSeparatortwo {
    gap: 8px !important;
    border-bottom: thin solid #e9ecef;
    padding-bottom: 15px;
  }

  .transactionFlex {
    gap: 2px !important;
    margin-left: 5px;
  }

  .latestResults_header > section:nth-child(2) {
    width: 330 px !important ;
    /* border-bottom: 1px solid #e9ecef !important; */
    border-right: none !important;
    /* padding: 20px 16px !important; */
    padding-top: 0 !important ;
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  .latestResults_header > section:last-child {
    padding-top: 0 !important ;
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  .ethPriceContainer {
    width: 40em !important;
  }

  .latestResults_header > section {
    width: 330 px !important ;
    /* border-bottom: 1px solid #e9ecef !important; */
    border-right: none !important;
    padding: 20px 16px !important;
  }

  .ethPriceImageMobile {
    width: 90px;
    height: auto;
  }

  .transactionImgMobile {
    width: 35px;
    height: auto;
  }

  .finalizingImgMobile {
    width: 35px;
    height: auto;
  }

  .finalizedFlex {
    margin-left: 3px;
  }

  .marketCapImageMobile {
    width: 35px;
    height: auto;
  }

  .heroNavBelowFont {
    font-size: 14px !important;
    margin-bottom: 0 !important;
  }

  .menu {
    display: none;
  }
  .heroNavFont {
    margin-bottom: 3px !important;
    font-size: 12px !important;
  }

  .topHeader {
    display: none;
  }

  .navbar {
    justify-content: start;
    padding: 0 20px;
    gap: 4em;
  }

  .logo {
    width: 9rem;
    height: auto;
  }
  .searchContainer {
    width: 100%;
  }

  .imgContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navSignIn {
    color: #081d35;
    display: block;
    margin: 0;
    font-size: 14px;
  }

  .navSignInContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }

  .menuMobileContainer {
    border: thin solid #e9ecef;
    padding: 5px 7px;
    border-radius: 8px;
  }

  .menuMobileView {
    width: 20.5px;
    height: auto;
  }

  .profileMobileView {
    width: 15px;
    height: auto;
  }

  .adSection {
    display: none;
  }

  .recipientRewardFlex {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #212529;
    gap: 5px;
  }

  .recipientRewardFlex p {
    margin-bottom: 0;
  }

  .adSectionMobile {
    display: flex;
    width: 330px !important;
    margin-left: 20px;
    border-radius: 1rem;
    margin-bottom: 20px;
  }
  .adSectionMobile:hover {
    cursor: pointer;
  }

  .searchHeader {
    display: block;
    padding: 0 !important;
    padding-top: 3rem !important;
    padding-left: 10px !important;
    position: relative;
  }

  .mainTitle {
    padding: 0 !important;
    margin-bottom: 10px !important;
    font-size: 18.68px !important;
  }

  .sponsored {
    display: none !important;
  }

  .input_section {
    width: 20rem !important;
  }

  .filterDown {
    display: none !important;
  }

  .inputField {
    padding-left: 10px !important;
    width: 16rem !important;
    margin-left: 5px !important;
  }

  .inputField::placeholder {
    color: #6c757d !important;
    font-size: 0.9375rem !important;
  }

  .sponsoredMobile {
    display: block;
    align-items: center;
    font-size: 14.4px;
    color: #cccccc;
    padding-top: 1rem;
    padding-left: 0.3rem;
  }

  .boldText {
    margin-left: 0 !important;
  }

  .blockRewardFontSize {
    margin: 0 !important;
  }

  /* .scrollableBlocks {
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 50%;
  } */
}

.searchHeader {
  display: flex;
  background-color: rgb(8, 29, 53);
  background-image: url("https://etherscan.io/images/svg/waves-light.svg");
  height: 17rem;
  padding: 0 11.5rem;
  padding-top: 3rem;
}

@media (min-width: 768px) {
  .imgContainer p {
    display: none; /* Hide the p element on desktop */
  }

  .latestBlockTransactionsMobile {
    display: none;
  }

  .parentFooterMobile {
    display: none;
  }

  .profileMobileView {
    display: none;
  }

  .menuMobileContainer {
    display: none;
  }

  .sponsoredMobile {
    display: none;
  }

  .adSectionMobile {
    display: none;
  }
}

.dropDownImg {
  width: 12px;
  height: auto;
}

.inputField {
  width: 40rem;
  color: #141414;
  height: 2rem;
  padding-left: 2rem;
  border: none;
  background-color: #ffffff;
  font-size: 1rem;
  outline: none;
}

.filterDown {
  padding-left: 10px;
  display: flex;
  align-items: center;
  font-size: 0.9375rem;
  gap: 10px;
  color: #141414;
}

.filterDown p {
  margin-bottom: 0;
}

.filterDown:hover {
  cursor: pointer;
}

.inputField:focus {
  border-radius: 8px;
  border: 3px solid #e4e4e4;
}

.inputField::placeholder {
  color: #bbbbbb;
  font-size: 1rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  background-color: #0784c3;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-right: 10px;
  color: #fff;
}

.magnifying {
  width: 1.1rem;
}

.sponsored {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #cccccc;
  padding-top: 1rem;
  padding-left: 0.3rem;
}

.bean {
  padding: 0 0.2rem;
}

.claim {
  padding-left: 0.3rem;
  color: #7cb3d7;
}

.searchResults {
  background-color: #111111;
  margin: 2rem 11.5rem;
  border: 1px solid #222222;
  border-radius: 0.5rem;
  box-shadow: 0rem 0 1.5rem #ffffff09;
  padding: 1rem;
}

.searchResults > p {
  letter-spacing: 0.02rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #191919;
  margin-bottom: 1rem;
}

.blueText {
  color: rgb(6, 106, 156);
}

.searchNotFound {
  color: rgb(6, 106, 156);
  font-size: 23px;
}

.blueText:hover {
  color: #92c3e4;
  cursor: pointer;
}

.txnSection {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.txnTitle {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #191919;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.txnTitle > th {
  width: 9rem;
  text-align: center;
}

.txn {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #191919;
}

.txn > td {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 3rem;
  text-align: center;
}

.transfer {
  font-size: 0.8rem;
  width: 8rem;
  background-color: #151515;
  padding: 0.35rem 1.2rem;
  border: 1px solid #2c2c2c;
  border-radius: 0.3rem;
}

.inTxn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 1.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: #161f1d;
  color: #479f87;
  border: 1px solid #223f37;
  border-radius: 0.3rem;
}

.outTxn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 1.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: #2d2615;
  color: #96792a;
  border: 1px solid #4c3f1e;
  border-radius: 0.3rem;
}

.blockRewardFontSize {
  font-size: 0.7em;
  border: 1px solid #e9ecef;
  padding: 5px;
  border-radius: 5px;
  color: #141414;
  font-weight: bold;
}

.freeRecipient {
  color: #141414;
  font-size: 14px;
}

.hashNumber {
  font-size: 14px;
  color: rgb(6, 106, 156);
}

.hashNumber:hover {
  color: #8bc0e4;
  cursor: pointer;
}

.timeFontSize {
  font-size: 13px;
  margin-top: 8px;
  color: rgb(108, 117, 125);
}
.latestTransactionColor {
  color: #141414;
  font-size: 14px;
  margin-top: 5px;
}

.BlockOne {
  padding: 10px;
  /* background-color: red; */
  display: flex;
  border-bottom: 1px solid #e9ecef;
  justify-content: space-between;
  align-items: center;
}

.hashTime {
  display: flex;
  align-items: center;
  gap: 5px;
}

.heroSectionContainer {
  width: 100%;
  margin-top: -2.5rem;
}

.latestResults_header {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  height: 11rem;
  margin: 0 11.5rem;
  border: 1px solid #e9ecef;
  border-radius: 1rem;
  box-shadow: 0rem 0 1.5rem #ffffff09;
}

.testtt {
  background-color: orange;
}

.latestResults_header > section {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-evenly;
  width: 100%;
  color: #cccccc;
  letter-spacing: 0.01rem;
  padding: 0.5rem 1rem;
  border-right: 1px solid #e9ecef;
}

.latestResults_header > section:last-child {
  border-right: none;
}

.latestResults_box {
  display: flex;
  align-items: center;
  width: 15rem;
  height: 5rem;
  padding-left: 2rem;
}

.hero_averageValue {
  width: 100%;
  height: 100%;
}

.hero_averageValue > p {
  padding: 0.2rem;
}

.chart {
  padding-top: 0.1rem;
  width: 100%;
  height: auto;
}

.divider {
  border-bottom: 1px solid #222222;
  width: 100%;
}

.svgSection {
  text-align: center;
  width: 2.2rem;
}

.toFlex {
  display: flex;
}

.transactionFlex {
  display: flex;
  align-items: center;
  gap: 5px;
}

.fontBlack {
  color: #141414;
}

.ethFlex {
  display: flex;
  align-items: center;
  gap: 5px;
  border-bottom: thin solid #e9ecef;
  padding-bottom: 15px;
}

.marketCapFlex {
  display: flex;
  align-items: center;
  gap: 5px;
}

.recentUpdate {
  color: #6c757d;
}

.toRed {
  color: #dc3454;
  font-size: 13.125px;
}

.heroNavBelowFont {
  margin-top: 3px;
  font-size: 0.9375rem;
  color: #141414;
}

.finalizedFlex {
  display: flex;
  align-items: center;
  gap: 5px;
}

.worldMap {
  margin-top: 20px;
}

.flexSeparatorOne {
  display: flex;
  gap: 10em;
  border-bottom: thin solid #e9ecef;
  padding-bottom: 15px;
}

.flexSeparatortwo {
  display: flex;
  gap: 10em;
}

.heroNavFont {
  font-size: 0.75rem;
  color: #6c757d;
  margin-bottom: 0 !important;
}

.ethLogoFooter {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 10px;
}

.ethLogoFooterSize {
  width: 20px;
  height: auto;
}

.middleFooter {
  margin: 50px 0;
  width: 100%;
  display: flex;
  align-items: start;
  padding: 10px;
  border-top: thin solid #e9ecef;
  border-bottom: thin solid #e9ecef;
  padding-top: 25px;
}
.firstTwoContainer {
  display: flex;
  justify-content: space-between;
  gap: 5em;
}

.bottomFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.78515625rem;
  color: #141414;
}

.secondTwoContainer {
  display: flex;
  justify-content: space-between;
  gap: 15em;
  margin-left: 15em;
}

.middleNav {
  display: flex;
  justify-content: center;
}

.redditLogo {
  width: 25px;
  height: auto;
  border-radius: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.redditContainer {
  border-radius: 50%;
  object-fit: cover;
  background-color: #e9ecef;
  padding: 5px;
}

.facebookContainer {
  border-radius: 50%;
  object-fit: cover;
  background-color: #e9ecef;
  padding: 8px;
}

.facebookLogo {
  width: 18px;
  height: auto;
  border-radius: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.twitterContainer {
  border-radius: 50%;
  object-fit: cover;
  background-color: #e9ecef;
  padding: 8px;
}

.twitterContainer:hover {
  filter: invert(1) hue-rotate(180deg);
  transition: color 300ms, background-color 300ms;
  cursor: pointer;
  transition: all 300ms;
}

.facebookContainer:hover {
  filter: invert(1) hue-rotate(180deg);
  transition: color 300ms, background-color 300ms;
  cursor: pointer;
  transition: all 300ms;
}

.mediumContainer:hover {
  filter: invert(1) hue-rotate(180deg);
  transition: color 300ms, background-color 300ms;
  cursor: pointer;
  transition: all 300ms;
}

.redditContainer:hover {
  filter: invert(1) hue-rotate(180deg);
  transition: color 300ms, background-color 300ms;
  cursor: pointer;
  transition: all 300ms;
}

.twitterLogo {
  width: 18px;
  height: auto;
  border-radius: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.mediumContainer {
  border-radius: 50%;
  object-fit: cover;
  background-color: #e9ecef;
  padding: 8px;
}

.mediumLogo {
  width: 18px;
  height: auto;
  border-radius: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.svgEth {
  width: 1.1rem;
  margin-right: 0.5rem;
}

.svgIcons {
  font-size: 1.3rem;
  margin-right: 0.5rem;
}

.heroValues {
  color: #ffffff;
  margin-top: 5px;
}

.hero_box {
  width: 250em;
}

.valueFlex {
  display: flex;
  justify-content: space-between;
}

.fourIcons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.arrowUpIcon {
  width: 13px;
  height: auto;
}

.textIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  font-size: 0.9062rem;
  color: #141414;
}

.textIcon:hover {
  color: #0784c3;
  cursor: pointer;
  transition: all 300ms;
}

.latestResults_body {
  display: flex;
  justify-content: space-between;
  width: 81%;
  margin: 1rem auto;
}

.footerIcons {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}

.parentFooter {
  width: 100%;
  background-color: #f8f9fa;
}

.footerSection {
  padding: 10px;
  width: 81%;
  margin: 1rem auto;
}

.latestResults_body > section {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 49.5%;
  height: 100%;
  /* padding: 1rem 0; */
  border: 1px solid #e9ecef;
  border-radius: 1rem;
  box-shadow: 0rem 0 1.5rem #ffffff09;
}

.latestBlockFontSize {
  font-size: 0.88rem;
}

.latestBoxSize {
  width: 55px;
  border-radius: 18px;
  height: auto;
  padding: 10px;
}

.boxSize {
  width: 40px;
  border-radius: 8px;
  height: auto;
}

.latestTransactionFontSize {
  font-size: 0.88rem;
}

.latestResults_body_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding: 1.2rem;
  border-bottom: 1px solid #e9ecef;
}

.latestResults_body_table {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cccccc;
  /* padding: 0 1rem; */
}

.viewAllTransaction {
  padding: 20px;
  text-align: center;
  font-size: 0.75rem;
  color: #7c7c7c;
  background-color: rgb(248, 249, 250);
  font-weight: bold;
  border-radius: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.donationAddress {
  color: rgb(106, 181, 219);
}

.donationAddress:hover {
  color: #9ccee7;
  transition: all 300ms;
  cursor: pointer;
}

.viewAllTransaction:hover {
  cursor: pointer;
  color: #066a9c;
  transition: all 300ms;
}

.latestResults_body_table > tbody {
  width: 95%;
}

.latestResults_body_tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #222222;
  width: 100%;
  height: 5rem;
  padding: 0 1rem;
}

.lastTd {
  border: none;
}

.tdIcon {
  width: 2rem;
}

.tdContract {
  width: 1.3rem;
}

.tdBlock {
  width: 11rem;
  padding-left: 0.5rem;
}

.tdTxns {
  width: 16rem;
}

.tdValue {
  width: 7rem;
  text-align: center;
  font-size: 0.8rem;
  background-color: #151515;
  padding: 0.35rem 0.5rem;
  border: 1px solid #2c2c2c;
  border-radius: 0.3rem;
}

.tdFromTo {
  width: 16rem;
}
